DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/personal_data_management_dev"
BETTER_AUTH_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
BETTER_AUTH_URL="http://localhost:3000"
